<header>
    <img src="../../assets/img/logo.jpg" >
  <nav>
    <ul>
      <li routerLink="/" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact:true}">
        People
      </li>
      <li routerLink="/planets" 
      routerLinkActive="active">
        Planets
      </li>
      <li routerLink="/films" 
      routerLinkActive="active">
        Films
      </li>
      <li routerLink="/species" 
      routerLinkActive="active">
        Species
      </li>
      <li routerLink="/vehicles" 
      routerLinkActive="active">
        Vehicles
      </li>
      <li routerLink="/starships" 
      routerLinkActive="active">
        Starships
      </li>
    </ul>
  </nav>
</header>