/* .mat-dialog-content {
    background-color: black;
    color: darkgoldenrod
} */
/* .my-panel  {
    background-color: black;
    color: darkgoldenrod
} */

.mat-card {
    color: black
}

li {
    color:black
}
