<mat-dialog-content >
  <p *ngFor="let basic of person" >
        {{basic | detailInfo:basic}}
  </p>
  <button class="show" mat-button (click)="show()">
    <b>Show More</b>
  </button>

  <section [ngClass]="visible ? 'display': 'hide'">
    <mat-card *ngIf="this.species?.data?.length>0">
        {{species.species}}
      <ul *ngFor="let details of species.data">
        <li>{{details.name}}
        </li>
      </ul>
    </mat-card>
    <mat-card *ngIf="this.vehicles?.data?.length>0">
        {{vehicles.vehicles}}
      <ul *ngFor="let details of vehicles.data">
        <li>{{details.name}}
        </li>
      </ul>
    </mat-card>
    <mat-card *ngIf="this.starships?.data?.length>0">
        {{starships.starships}}
      <ul *ngFor="let details of starships.data">
        <li>{{details.name}}
        </li>
      </ul>
    </mat-card>
    <mat-card *ngIf="this.planets?.data?.length>0">
        {{planets.planets}}
      <ul *ngFor="let details of planets.data">
        <li>{{details.name}}
        </li>
      </ul>
    </mat-card>
    <mat-card *ngIf="this.people?.data?.length>0">
        {{people.people}}
      <ul *ngFor="let details of people.data">
        <li>{{details.name}}
        </li>
      </ul>
    </mat-card>
    <mat-card *ngIf="this.films?.data?.length>0">
        {{films.films}}
      <ul *ngFor="let details of films.data">
        <li>{{details.title}}
        </li>
      </ul>
    </mat-card>
  </section>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="close" mat-raised-button (click)="close()">Close</button>
    <section class="menu">
      <button mat-raised-button (click)="openPrevious()">Previous</button>
      <button mat-raised-button (click)="openNext()">Next</button>
    </section>
  </mat-dialog-actions> 