<section class="wrapper">
  <p *ngIf="dataSource?.results === null">
    <mat-spinner tyle="margin:0 auto;"></mat-spinner>
  </p>

  <section *ngIf="dataSource?.results !== null">
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource.results">
        <ng-container [matColumnDef]="col" *ngFor="let col of columnDefinition">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ col | tableColumn:columnDefinition }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element[col] }} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnDefinition"></mat-header-row>
        <mat-row *matRowDef="let row;let item = index; columns: columnDefinition;" (click)="openDialog(item)"></mat-row>
      </mat-table>
    </div>

    <mat-paginator [length]="dataSource.count"
                [pageSize]="10"
                [pageIndex]="currentPage - 1"
                (page)="handleChange($event)">
    </mat-paginator>
  </section>
  <footer>
    <img src="../../../assets/img/darth-vader.jpg" >
  </footer>
</section>